.css-17xod8c {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: blueviolet;
}

.diagnosis {
	color: white;
	padding: 0.2em 0.5rem;
	border-radius: 0.5em;
}

.diagnosis.benign {
	background-color: #01DB4B;
}

.diagnosis.malignant {
	background-color: #FF4B4B;
}

.prob {
	color: #FFFFFF;
	padding: 0.2em 0.5rem;
	border-radius: 1em;
	font-family: 'Source Code Pro', monospace;
}

.prob.benign {
	background-color: black;
}

.prob.malignant {
	background-color: black;
}